{%  set exclude_fields = [
  'id',
  'name',
  'title',
  'title_translated',
  'notes',
  'notes_translated',
  'tag_string',
  'license_id',
  'owner_org',
  'graphic_overview',
  'access_rights',
  'publisher_uri',
  'publisher_name',
  'publisher_identifier',
  'publisher_url',
  'publisher_email',
  'publisher_type',
  'contact_uri',
  'contact_name',
  'contact_email',
  'contact_url',
  'reference',
  ] %}


  {#
    basic_info: Sublist
  #}
  {%  set basic_info = [
    'created',
    'issued',
    'modified',
    'accrualPeriodicity',
    'accessRights',
    'id_dds',
    'id_indikator_mms',
    'id_sds',
    'satuan',
    'ukuran',
    'jenis',
    'theme',
    'prioritas_tahun',
    'kriteria_prioritas',
    'indikator_prioritas',
    'publisher_type',
  ] %}


{%  set md_provenance_fields = [
  'alternate_identifier',
  'provenance',
  'metadata_profile',
  'conforms_to',
  'lineage_source',
  'lineage_process_steps',
  'purpose',
  'source',
  'reference',
  'temporal_start',
  'temporal_end',
  'frequency',
  'version_notes',
  'version',
  'valid',
  ] %}


  {#
    md_provenance_conformance: Sublist
  #}
    {%  set md_provenance_conformance = [
      'alternate_identifier',
      'metadata_profile',
      'conforms_to',
    ] %}

  {#
    md_provenance_temporal_coverage: Sublist
  #}
    {%  set md_provenance_temporal_coverage = [
      'temporal_start',
      'temporal_end',
      'frequency',
    ] %}

  {#
    md_provenance_lineage: Sublist
  #}
    {%  set md_provenance_lineage = [
      'provenance',
      'lineage_process_steps',
      'lineage_source',
      'source',
    ] %}

    {#
      md_provenance_version: Sublist
    #}
      {%  set md_provenance_version = [
        'version_notes',
        'version',
        'valid',
      ] %}

{%  set spatial_info_fields = [
  'inspire_id',
  'theme',
  'reference_system',
  'representation_type',
  'spatial',
  'spatial_uri',
  'spatial_resolution_in_meters',
  ] %}

{%  set statistik_indikator_fields = [
  'id_msind',
  'id_mskeg',
  'interpretasi',
  'metode_perhitungan',
  'rumus',
  'klasifikasi',
  'kodereferensi',
  'indikator_komposit',
  'level_estimasi'
    ] %}
    
{%  set statistik_kegiatan_fields = [
  'id_kegiatan_mms',
  'id_kegiatan',
  'judul_kegiatan',
  'tahun_kegiatan',
  'jenis_statistik',
  'cara_pengumpulan_data',
  'sektor_kegiatan',
  'identitas_rekomendasi',
  'i_instansi_penyelanggara',
  'i_alamat',
  'i_telepon',
  'i_email',
  'i_faksimile',
  'ii_unit_eselon1',
  'ii_unit_eselon2',
  'ii_pj_nama',
  'ii_pj_jabatan',
  'ii_pj_alamat',
  'ii_pj_telepon',
  'ii_pj_email',
  'ii_pj_faksimile',
  'iii_latar_belakang_kegiatan',
  'iii_tujuan_kegiatan',
  'iv_kegiatan_ini_dilakukan',
  'iv_frekuensi_penyelanggara',
  'iv_tipe_pengumpulan_data',
  'iv_cakupan_wilayah_pengumpulan_data',
  'iv_metode_pengumpulan_data',
  'iv_sarana_pengumpulan_data',
  'iv_unit_pengumpulan_data',
  'v_jenis_rancangan_sampel',
  'v_metode_pemilihan_sampel_tahap_terakhir',
  'v_metode_yang_digunakan',
  'v_kerangka_sampel_tahap_terakhir',
  'v_fraksi_sampel_keseluruhan',
  'v_nilai_perkiraan_sampling_error_variabel_utama',
  'v_unit_sampel',
  'v_unit_observasi',
  'vi_apakah_melakukan_uji_coba',
  'vi_metode_pemeriksaan_kualitas_pengumpulan_data',
  'vi_apakah_melakukan_penyesuaian_nonrespon',
  'vi_petugas_pengumpulan_data',
  'vi_persyaratan_pendidikan_terendah_petugas_pengumpulan_data',
  'vi_jumlah_petugas_supervisor',
  'vi_jumlah_petugas_enumerator',
  'vi_apakah_melakukan_pelatihan_petugas',
  'vii_tahapan_pengolahan_data',
  'vii_metode_analisis',
  'vii_unit_analisis',
  'vii_tingkat_penyajian_hasil_analisis',
  'viii_ketersediaan_produk_tercetak',
  'viii_ketersediaan_produk_digital',
  'viii_ketersediaan_produk_mikrodata',
  'produsen_data_name',
  'total_msvar',
  'total_msind',
  'submission_period'
    ] %} 

{%  set responsible_party_fields = [
  'author',
  'author_email',
  'author_uri',
  'author_url',
  'maintainer',
  'maintainer_email',
  'maintainer_uri',
  'maintainer_url',
  ] %}

  {#
    responsible_party_fields: Sublists
  #}
      {%  set author_fields = [
        'author',
        'author_email',
        'author_uri',
        'author_url',
      ] %}

      {%  set maintainer_fields = [
        'maintainer',
        'maintainer_email',
        'maintainer_uri',
        'maintainer_url',
      ] %}

      {% block package_additional_info %}
      <section class="additional-info">
        {# Additional info #}
        <table  class="table table-striped table-bordered table-condensed" style="margin-top:20px">
          <thead class="thead-normal_table">
            <tr>
              <td scope="row" colspan="2">
                {{ _('Additional info') }}
              </td>
            </tr>
          </thead>
          <tbody>
            {%  for field in schema.dataset_fields %}
            {%  if field.field_name not in exclude_fields
                and field.field_name not in md_provenance_fields
                and field.field_name not in spatial_info_fields
                and field.field_name not in statistik_indikator_fields
                and field.field_name not in statistik_kegiatan_fields
                and field.field_name not in responsible_party_fields
                and field.display_snippet is not none 
                and field.field_name is not none 
                or field.field_name in basic_info %}
                <tr>
                    <th scope="row" class="dataset-label">{{
                    h.scheming_language_text(field.label) }}</td>
                    <td class="dataset-details"{%
                    if field.display_property %} property="{{ field.display_property
                    }}"{% endif %}>{%  snippet 'scheming/snippets/display_field.html',
                    field=field, data=pkg_dict, schema=schema %}</td>
                </tr>
              {%  endif %}
            {%  endfor %}
            {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
            {% endif %}
          </tbody>
        </table>

        {# Spatial Info #}
        <details class="toggle-table" open>
            <summary>
                <h3><center>{{ _('Spatial information') }}</center></h3>
            </summary>
            <table class="table table-striped table-bordered table-condensed">
                <tbody>
                    {% if pkg_dict.spatial %}
                      {%  for field in schema.dataset_fields %}
                      {%  if field.field_name not in exclude_fields
                          and field.field_name in spatial_info_fields
                          and field.field_name in statistik_indikator_fields
                          and field.field_name in statistik_kegiatan_fields
                          and field.display_snippet is not none 
                          and field.field_name is not none %}
                        <tr>
                          <th scope="row" class="dataset-label">{{
                            h.scheming_language_text(field.label) }}</th>
                          <td class="dataset-details"{%
                            if field.display_property %} property="{{ field.display_property
                            }}"{% endif %}>{%  snippet 'scheming/snippets/display_field.html',
                            field=field, data=pkg_dict, schema=schema %}</td>
                        </tr>
                      {%  endif %}
                    {%  endfor %}
                  {%  endif %}
                </tbody>
            </table>
        </details>

        {# Provenance #}
        <details class="toggle-table">
          <summary>
              <h3><center>{{ _('Provenance') }}</center></h3>
          </summary>
          <table class="table table-striped table-bordered table-condensed">
            <tbody>
                {%  for field in schema.dataset_fields %}
                {%  if field.field_name not in exclude_fields
                    and field.field_name in md_provenance_conformance
                    and field.display_snippet is not none 
                    and field.field_name is not none %}
                  <tr>
                    <th scope="row" class="dataset-label">{{
                      h.scheming_language_text(field.label) }}</th>
                    <td class="dataset-details"{%
                      if field.display_property %} property="{{ field.display_property
                      }}"{% endif %}>{%  snippet 'scheming/snippets/display_field.html',
                      field=field, data=pkg_dict, schema=schema %}</td>
                  </tr>
                {%  endif %}
              {%  endfor %}
              <tr>
                <td scope="row" colspan="2"><h4><center>{{ _('Lineage') }}</center></h4></td>
              </tr>
              {%  for field in schema.dataset_fields %}
                {%  if field.field_name not in exclude_fields
                    and field.field_name in md_provenance_lineage
                    and field.display_snippet is not none 
                    and field.field_name is not none %}
                  <tr>
                    <th scope="row" class="dataset-label">{{
                      h.scheming_language_text(field.label) }}</th>
                    <td class="dataset-details"{%
                      if field.display_property %} property="{{ field.display_property
                      }}"{% endif %}>{%  snippet 'scheming/snippets/display_field.html',
                      field=field, data=pkg_dict, schema=schema %}</td>
                  </tr>
                {%  endif %}
              {%  endfor %}
              <tr>
                <td scope="row" colspan="2"><h4><center>{{ _('Temporal extent') }}</center></h4></td>
              </tr>
              {%  for field in schema.dataset_fields %}
                {%  if field.field_name not in exclude_fields
                    and field.field_name in md_provenance_temporal_coverage
                    and field.display_snippet is not none 
                    and field.field_name is not none %}
                  <tr>
                    <th scope="row" class="dataset-label">{{
                      h.scheming_language_text(field.label) }}</th>
                    <td class="dataset-details"{%
                      if field.display_property %} property="{{ field.display_property
                      }}"{% endif %}>{%  snippet 'scheming/snippets/display_field.html',
                      field=field, data=pkg_dict, schema=schema %}</td>
                </tr>
                {%  endif %}
              {%  endfor %}
                <td scope="row" colspan="2"><h4><center>{{ _('Version') }}</center></h4></td>
              </tr>
              {%  for field in schema.dataset_fields %}
                {%  if field.field_name not in exclude_fields
                    and field.field_name in md_provenance_version
                    and field.display_snippet is not none 
                    and field.field_name is not none %}
                  <tr>
                    <th scope="row" class="dataset-label">{{
                      h.scheming_language_text(field.label) }}</th>
                    <td class="dataset-details"{%
                      if field.display_property %} property="{{ field.display_property
                      }}"{% endif %}>{%  snippet 'scheming/snippets/display_field.html',
                      field=field, data=pkg_dict, schema=schema %}</td>
                  </tr>
                {%  endif %}
              {%  endfor %}
              <tr>
                <th scope="row" class="dataset-label">{{ _("State") }}</td>
                <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
              </tr>
            </tbody>
          </table>
        </details>

        {# Responsible party #}
        <details class="toggle-table">
          <summary>
              <h3><center>{{ _('Responsible party') }}</center></h3>
          </summary>
          <table class="table table-striped table-bordered table-condensed">
            <tbody>
                <td scope="row" colspan="2"><h4><center>{{ _('Author') }}</center></h4></td>
              </tr>
              {%  for field in schema.dataset_fields %}
                {%  if field.field_name not in exclude_fields
                  and field.field_name in author_fields
                  and field.display_snippet is not none 
                  and field.field_name is not none %}
                  <tr>
                    <th scope="row" class="dataset-label">{{
                      h.scheming_language_text(field.label) }}</th>
                    <td class="dataset-details"{%
                      if field.display_property %} property="{{ field.display_property
                      }}"{% endif %}>{%  snippet 'scheming/snippets/display_field.html',
                      field=field, data=pkg_dict, schema=schema %}</td>
                  </tr>
                {%  endif %}
              {%  endfor %}
              <tr>
                <td scope="row" colspan="2"><h4><center>{{ _('Maintainer') }}</center></h4></td>
              </tr>
              {%  for field in schema.dataset_fields %}
                {%  if field.field_name not in exclude_fields
                  and field.field_name in maintainer_fields
                  and field.display_snippet is not none 
                  and field.field_name is not none %}
                  <tr>
                    <th scope="row" class="dataset-label">{{
                      h.scheming_language_text(field.label) }}</th>
                    <td class="dataset-details"{%
                      if field.display_property %} property="{{ field.display_property
                      }}"{% endif %}>{%  snippet 'scheming/snippets/display_field.html',
                      field=field, data=pkg_dict, schema=schema %}</td>
                  </tr>
                {%  endif %}
              {%  endfor %}
            </tbody>
          </table>
        </details>
      </section>
    {% endblock %}      
