{% extends 'package/snippets/package_form.html' %}

{% block stages %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block save_button_text %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% else %}
  {% link_for _('Unggah Berkas'), named_route='resource.new', id=pkg_dict.name, class_='btn-primary', icon='plus' %}
  {% endif %}
{% endblock %}

{% block cancel_button %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block delete_button %}
  {% if form_style == 'edit' and h.check_access('package_delete', {'id': pkg_dict.id}) %}
    {{ super() }}
  {% endif %}
{% endblock %}
