{% trans %}
<p>CKAN adalah platform portal data sumber terbuka terkemuka di dunia.</p>

<p>CKAN adalah solusi perangkat lunak lengkap yang siap pakai yang membuat data dapat diakses dan digunakan – dengan menyediakan alat untuk menyederhanakan penerbitan, berbagi, pencarian, dan penggunaan data (termasuk penyimpanan data dan penyediaan API data yang tangguh). CKAN ditujukan untuk penerbit data (pemerintah nasional dan regional, perusahaan, dan organisasi) yang ingin membuat data mereka terbuka dan tersedia.
CKAN digunakan oleh pemerintah dan kelompok pengguna di seluruh dunia dan mendukung berbagai portal data resmi dan komunitas, termasuk portal untuk pemerintah lokal, nasional, dan internasional, seperti portal data milik Inggris <a href="http://data.gov.uk">data.gov.uk</a>, portal data milik Uni Eropa <a href="http://publicdata.eu/">publicdata.eu</a>, portal data milik Brasil <a href="http://dados.gov.br/">dados.gov.br</a>, portal pemerintah Belanda dan Netherland, serta situs kota dan kotamadya di AS, Inggris, Argentina, Finlandia, dan tempat lainnya.</p>

{% endtrans %}
